/* * {
    border-color: red;
    border-style: solid;
} */
html {
    height: 100%;
}
body {
    background-color: #F6E2D5;
    margin: 15px;
    height: 100%;
}
.navbar {
    border-top: #F6E2D5;
    border-left: #F6E2D5;
    border-right: #F6E2D5;
    border-bottom: white;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-nav { 
    margin-left: auto; 
}
a {
    color: #62626D;
    text-decoration: underline;
}
.navbar-light .navbar-nav .nav-link {
    color: #E05344;
    text-decoration: none;
    margin: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #62626D;
    text-decoration: none;
}
.dropdown-menu {
    background-color: white;
    border-color: white;
    border-radius: 20px;
    text-decoration: none;
}
.dropdown-item {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    color: #454548, 100%;
}
.dropdown-item:hover {
    background-color: #E05344;
    color: white;
    border-radius: 100px;
}
.lets_play {
    background-color: #FFFFFF;
    border-radius: 100px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: bold;
    box-shadow: 1px 1px 100px #6b5f5f40;
}
/* hover state for the "lets play button */
.lets_play:hover {
    background-color: #EB5757;
    color: white !important;
    font-style: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #62626D;
}
.overview-content {
    padding: 100px;
}
h1 {
    font-size: 45px;
    color: #E05344;
    margin-top: 100px;
    font-family: 'Nunito Sans', sans-serif;
}
h2 {
    font-size: 45px;
    color: #E05344;
    font-family: 'Nunito Sans', sans-serif;
}
ul {
    color: #E05344;
    font-family: 'Nunito Sans', sans-serif;
}
/* footer */
#footer {
    align-items: left;
    margin-left: auto;
    padding: 50px;
    background-color:#F6E2D5 !important;
}
#category_header {
    display: flex;
    justify-content: left;
    text-align: left;
    position: relative;
    padding-top: 20vh;
    margin: 20px;
}
/* about */
#about_content {
    padding: 10vh;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #E05344;
}

ul {
    list-style-image: url(../images/star_b.svg);
    justify-content: center;
    align-items: center;
}
/* just a couple of grids for ya  */

.image_grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5%;
    height: 300vh;
    width: 500vh;
    align-items: center;
    padding: 100px 10%;
    grid-template-areas: 
    "itemOne itemOne itemTwo itemTwo itemTwo"
    "itemOne itemOne itemTwo itemTwo itemTwo"
    "itemOne itemOne itemTwo itemTwo itemTwo"
    "itemThree itemThree itemThree itemThree itemThree"
    "itemThree itemThree itemThree itemThree itemThree" ;
}
#item_one {
    grid-area: itemOne;
    max-height: 100%;
    max-width: 100%;
}
#item_two {
    grid-area: itemTwo;
    height: auto;
    max-width: 100%;
}
#item_three {
    grid-area: itemThree;
    height: auto;
    max-width: 100%;
}
/* footer */

#footer a {
    text-decoration: none;
    color: #E05344;
    font-size: 16px;
}
#footer {
    align-items: left;
    justify-content: left;
}
.navbar-brand {
    padding-left: 10px;
}
#lady {
    font-size: 10px !important;
    display: flex;
    align-items: right;
    justify-content: center;
    padding: 5px;
    color: #E05344;
}