
* {
 border-color: red;
 border-style: solid;
}
html {
    height: 100%;
    margin: 0px;
}
body {
    height: 100%;
    margin: 0px;
}
.bg-lite {
    background-color: red !important;
}

/* card stuff */
/* so I am in the process of figuring out how to combine the swipe and flip mentality */

.cards {
    background: #00A5F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 300px;
    height: 200px;
    position: relative;
    perspective: 800px;
    border-radius: 4px;

}
.card {
    width: 100%;
    height: 100%;
    position: absolute; 
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    cursor: pointer;
}

.card_div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    transform: rotate(180deg)
} 
.flipped {
    transform: rotateY(180deg)
}


/* tinder stuff */

#container {
    width: 500px;
    margin: auto !important;
    display: block;
    height: 500px;
    position: relative;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .buddy {
    display: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    padding: 20px;
    width: 360px;
    height: 360px;
    top: 50px;
    left: 50px;
    position: absolute;
    cursor: hand;
  }
  .rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
  }
  .rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
  }
  .avatar {
    background: #222;
    width: 340px;
    height: 340px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    background-size: auto 160% !important;
    background-position: center;
   background-repeat: no-repeat;
  }
  .like {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
  }
  .dislike {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
  }
  
/* .card
  width 100%
  height 100%
  position absolute
  transform-style preserve-3d
  transition transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275)
  border-radius 6px
  box-shadow 0 6px 16px rgba(0,0,0,0.15)
  cursor pointer */